<!DOCTYPE html>
<html lang="en">
<head>
 
</head>
<body class="container">

<header>
  <%- include('partials/header') %>
  <hr/>
</header>

<main>
    <h4>Bienvenido al sitio de usuarios y tareas:</h4>
    <p>Debe loguearse primero para poder ver usuarios, tareas y efectuar operaciones CRUD...</p>

    
</main>

<footer>
    <%- include('partials/pie') %>
 
</footer>

</body>
</html>

    